$redCol : #E65C43;
$whiteCol: #FFF;
$grayCol: #666;
$grayColbarBgCol:#F5F6F6;
$headlineBgCol: red;

$bodyFontCol: 'Roboto';
$bodyBgImgURL: '../images/bg.gif';
$logoImgURL: '../images/logo.png';
$socialMediaImgURL: '../images/social-media.png';
 



